:root{
    --color-texto-principal:#E0E0E0;
    --color-fondo: #121212;
    --color-card:#1E1E1E;
    --radio-borde: 8px;
    --color-botton: #3B82F6;
    --color-bordes:rgba(255, 255, 255, 0.12);
    --color-btn-secundario:#2D2D2D;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system,sans-serif;
    background: var(--color-fondo);
    color: var(--color-texto-principal);
}